@model List<Producto>

<h1 class="mb-4">PRODUCTOS AÑADIDOS AL CARRITO</h1>

<p>
    <a asp-controller="Deportes" asp-action="Index" class="btn btn-secondary mb-4">
        VOLVER A HOME
    </a>
</p>

@if (Model == null)
{
    <h2 style="color:red">NO EXISTEN PRODUCTOS EN EL CARRITO</h2>
}

else if (Model != null && Model.Any())
{
    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Marca</th>
                    <th>Descripción</th>
                    <th>Talla</th>
                    <th>Imagen</th>
                    <th>Descripción Larga</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pro in Model)
                {
                    <tr>
                        <td>@pro.Nombre</td>
                        <td>@pro.Precio,00€</td>
                        <td>@pro.Marca</td>
                        <td>@pro.Descripcion</td>
                        <td>
                            @if (pro.Talla == 1)
                            {
                                <span>S</span>
                            }
                            else if (pro.Talla == 2)
                            {
                                <span>M</span>
                            }
                            else if (pro.Talla == 3)
                            {
                                <span>L</span>
                            }
                            else if (pro.Talla == 4)
                            {
                                <span>XL</span>
                            }
                        </td>
                        <td><img src="~/Images/@pro.Imagen" alt="Imagen del producto" width="100" height="100"></td>
                        <td>@pro.Descripcion_Larga</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Compra" asp-controller="Deportes" asp-route-id="@pro.IdProducto" class="btn btn-success">Comprar</a>
                                <a class="btn btn-danger" asp-controller="Deportes" asp-action="Favoritos" asp-route-ideliminar="@pro.IdProducto">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Context.Session.GetString("SUMAPRECIOS") != null)
        {
            <h3 class="mt-4">Precio Total: @Context.Session.GetString("SUMAPRECIOS"),00€</h3>
        }
        @*
    <form method="post" asp-action="ComprarTodo" asp-controller="Deportes">
    @foreach (var pro in Model)
    {
    <input type="hidden" name="productos[]" value="@pro.IdProducto">
    }

    <button type="submit" class="btn btn-primary mt-4">Comprar Todo</button>
    </form> *@

    </div>
}

